<h1>Welcome to My Rails Blog</h1>
<p>This is some info about our Ruby on Rails blog website</p>
<% @posts.each do |post| %>
    <h3><%= link_to post.title, post %></h3>
    <p><%= post.body %></p>
    <hr />
<% end %>
